.git
.gitignore
.env
node_modules
vendor
storage/app
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
!bootstrap/cache/.gitkeep
.editorconfig
.prettierignore
.prettierrc
eslint.config.js
phpunit.xml
tsconfig.json
*.md
Design.md
prd.md
